---
/**
 * Home Page
 */

import Container from '@components/Container.astro'
import Footer from '@components/Footer.astro'
import ScrollToTop from '@components/ScrollToTop.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

import me from '@data/me'
import { bodyPadding, containerWide } from '@utils/constants'

import type { Metadata } from '@layouts/BaseLayout.astro'

const metadata: Metadata = {
  title: '嘿！我是刘晓飞',
  description: me.quote,
}
---

<BaseLayout metadata={metadata}>
  <div class="thi-bg-stone">
    <Container class:list={[bodyPadding, containerWide]}>
      <!-- Home page content -->
    </Container>
    <Footer footerType="gray" />
    <ScrollToTop />
  </div>
</BaseLayout>
