---
/**
 * NavAvatar
 */

import { Icon } from 'astro-icon/components'

const Avatar = 'Avatar'
---

<div class="shrink-0">
  <a class="flex items-center overflow-hidden rounded-full ring" href="/">
    <Icon name={Avatar} width={28} height={28} />
  </a>
</div>
